[submodule "docs/source/_themes/stormpath"]
	path = docs/source/_themes/stormpath
	url = https://github.com/stormpath/stormpath-sphinx-theme.git
[submodule "extensions/spring/boot/docs/source/_themes/stormpath"]
	path = extensions/spring/boot/docs/source/_themes/stormpath
	url = https://github.com/stormpath/stormpath-sphinx-theme.git
