<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>stormpath.application.href</param-name>
        <!-- Change this URL to your own application's Stormpath HREF: -->
        <param-value>https://api.stormpath.com/v1/applications/295wLwTPf2T3zOEXosMvHy</param-value>
    </context-param>
    <listener>
        <listener-class>com.stormpath.sdk.servlet.client.DefaultClientLoaderListener</listener-class>
    </listener>


    <!-- Things below here are relevant for this particular sample app only - do not copy into your own project: -->
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>com.stormpath.sdk.examples.servlet.WelcomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>